* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flowers {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 8vmin;
  padding-bottom: 2vmin;
}

.flower {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flower__leafs {
  position: relative;
  width: 20vmin;
  height: 20vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flower__leaf {
  position: absolute;
  width: 10vmin;
  height: 20vmin;
  background: radial-gradient(circle, #ffecb3, #ffca28);
  border-radius: 50% 50% 0 0;
  transform-origin: bottom center;
}

.flower__leaf--1 {
  transform: rotate(0deg);
}

.flower__leaf--2 {
  transform: rotate(90deg);
}

.flower__leaf--3 {
  transform: rotate(180deg);
}

.flower__leaf--4 {
  transform: rotate(270deg);
}

.flower__white-circle {
  position: absolute;
  width: 7vmin;
  height: 7vmin;
  background: radial-gradient(circle, #ffffff, #ffe082);
  border-radius: 50%;
  z-index: 2;
}

.flower__line {
  width: 1.4vmin;
  height: 55vmin;
  background: linear-gradient(to top, #2e7d32, #66bb6a);
  border-radius: 1vmin;
  position: relative;
  margin-top: -1vmin;
}

.flower__line__leaf {
  position: absolute;
  width: 6vmin;
  height: 12vmin;
  background: linear-gradient(to right, #4caf50, #81c784);
  border-radius: 6vmin 6vmin 0 6vmin;
  transform-origin: left center;
}

.flower__line__leaf--1 {
  top: 10%;
  left: 100%;
  transform: rotate(20deg);
}

.flower__line__leaf--2 {
  top: 25%;
  left: 100%;
  transform: rotate(-10deg);
}

.flower__line__leaf--3 {
  top: 40%;
  left: 100%;
  transform: rotate(15deg);
}

.flower__line__leaf--4 {
  top: 55%;
  left: 100%;
  transform: rotate(-8deg);
}

.flower__line__leaf--5 {
  top: 70%;
  left: 100%;
  transform: rotate(12deg);
}

.not-loaded * {
  animation-play-state: paused !important;
}
